@charset "utf-8";

/* HEADER */
header {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.192);
  padding: 8px;
  text-align: center;
  width: 100%;
}

header a {
  color: var(--cor1);
}

header a:hover {
  text-decoration: none;
}


/* FOOTER */
footer {
  background-color: var(--cor3);
  padding: 32px 8px;
  text-align: center;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 1.1em;
  text-align: center;
}

.contato {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 16px 0;
}

.contato a {
  color: #fff;
}

.fa-github,
.fa-linkedin {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.267);
  transition: 0.3s ease-out;
}

.fa-github:hover,
.fa-linkedin:hover {
  transform: translateY(6px); 
}

.texto-icone {
  font-family: var(--fonte-monospace);
  font-size: 1.1em;
  word-spacing: 2px;
}