@charset "utf-8";

.menu {
  display: flex;
  flex-direction: column;
  margin: 104px auto 32px;
  min-height: 80vh;
  width: 95%;
}

.subdivisao {
  background: linear-gradient(#e4e4e4, #f2f2f2 20%, #e4e4e4);
  border: 4px ridge #f2f2f2;
  margin: 16px auto;
  width: 90%;
}

.subdivisao ol {
  padding-left: 16px;
}

.titulo-subdivisao {
  color: red;
}

ol li {
  padding: 8px 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.link::after {
  display: inline-block;
  background-image: url('../images/arrow-up-right-from-square-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
  width: 16px;
}

.link::before,
.sem-link::before {
  content: "\21AA";
  padding-right: 0.5em;
}