@charset "utf-8";

.container-principal {
  margin: 32px auto;
  min-height: 70vh;
}

.conteudo {
  margin: auto;
  width: 90%;
}

.conteudo h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.31em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.conteudo h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.conteudo p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.conteudo ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.conteudo ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}


/* CONTAINER DOS BOTÕES */
.container-botoes {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.visualizar-atividade {
  display: block;
  cursor: pointer;
  padding: 8px 16px;
  width: 20%;
}


/* ATIVIDADES - EXEMPLOS E EXERCÍCIOS */
iframe {
  border: none;
  height: 400px;
  width: 100%;
}

pre {
  border: 1px solid red;
  display: block;
  font-family: monospace;
  white-space: pre-line;
  margin: 1em 0;
}

.atividade {
  background-color: #faf8f5;
  border: 3px solid #efece9;
  margin: 24px 0;
  padding: 16px;
}

.output {
  background-color: rgba(255, 127, 80, 0.418);
  border: 3px solid #efece9;
  margin: 24px 0;
  padding: 16px;
}

.output h1,
.output h2,
.output h3,
.output h4 {
  color: purple;
}

.output p {
  font-size: 15px;
  text-align: left;
}

.output button {
  display: block;
  background-color: rgb(0 217 217 / 60%);
  border: 2px solid rgb(200 200 0 / 60%);
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  color: rgb(100 0 0 / 100%);
  cursor: pointer;
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  margin: 8px auto;
  padding: 16px 24px;
  text-transform: uppercase;
}


/* TASKS */
.starting-point {
  border: 1px solid gray;
  margin: 24px 0;
  padding: 8px;
}

.finished-task {
  border: 1px solid blue;
  margin: 24px 0;
  padding: 8px;
}

.starting-point h1,
.starting-point h2,
.starting-point h3,
.starting-point h4,
.finished-task h1,
.finished-task h2,
.finished-task h3,
.finished-task h4 {
  color: purple;
}

.blank-space {
  display: inline-block;
  background-color: yellow;
  height: 8px;
  width: 24px;
}

.codespan {
  background-color:#f1f1f1;
  color: crimson;
  font-family: Consolas, Menlo,"courier new", monospace;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
}