@charset "utf-8";

header {
  padding: 24px 8px;
  text-align: center;
}

.index-container {
  margin-top: 70px;
}

.materia {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  height: 40vh;
  padding: 8px 16px;
  width: 100%;
}

.tag {
  color: transparent;
}

a:hover .tag {
  color: black;
}