@charset "utf-8";

.menu-responsivo {
  position: fixed;
  left: -3px;
  top: 70px;
  background-color: white;
  border-right: 1px solid lightgray;
  height: 100vh;
  overflow-x: hidden;
  padding: 16px 0;
  transition: 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.menu-responsivo details {
  margin: 8px 0;
  padding: 4px 4px 4px 16px;
}

.details-ultimo .ul-menu {
  margin-bottom: 72px
}

.menu-responsivo summary {
  font-weight: bold;
  padding: 4px;
}

.menu-responsivo summary:hover {
  cursor: pointer;
}

.menu-responsivo ::marker {
  color: red;
}

.menu-responsivo .ul-menu > li {
  margin-left: 23px;
  margin-bottom: 4px;
  padding: 4px 0;
}

.menu-responsivo a {
  display: inline-block;
  font-size: 14px;
  padding: 4px 0;
  width: 99%;
}

.menu-responsivo ul > li a:hover {
  text-decoration: underline;
}

.menu-responsivo .link-ativo a {
  background-color: rgba(128, 0, 128, 0.4);
  border-left: 4px solid rgba(128, 0, 128, 0.8);
  padding: 4px;
}

.subdivisao {
  display:inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 4px 0;
}

.ul-interno-menu > li {
  display: inline-block;
  font-size: 14px;
  margin-left: 23px;
  padding: 4px 0;
}

.ul-interno-menu li a {
  margin-left: 23px;
  padding: 4px 0;
  min-width: 206px;
}

.responsivo {
  width: 340px;
}