@charset "utf-8";

.container-principal {
  margin-top: 70px;
  min-height: 70vh;
  padding: 16px 8px;
}

.conteudo {
  margin: 8px auto 0;
  padding: 2px;
  width: 93%;
}

.conteudo h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.31em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.conteudo .heading-3 {
  display: block;
  font-size: 1.17em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

hr {
  color: yellow;
  border: 0;
  border-top: 5px solid #eee;
  margin: 2em 0;
}

.assunto-detalhes {
  line-height: 2.2;
  margin-top: 1.1em;
  max-width: 100%;
}

.assunto-detalhes ol {
  list-style-type: decimal;
}

.assunto-detalhes ol li {
  margin: 1em 0;
}

.assunto-detalhes ol li::marker {
  color: red;
}

.codigo-e-navegador {
  background-color: #faf8f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8px auto;
  padding-bottom: 16px;
}

.heading-codigo, .heading-navegador {
  background-color: #faf8f5;
  color: black;
  text-align: center;
}

.codigo {
  background-color: rgb(21,32,43);
  color: #ff9999;
  font-family: var(--fonte-editor);
}

.codigo-conteudo {
  height: 250px;
  margin-left: 8px;
  overflow: auto;
}

.amarelo {
  color: yellow;
  font-family: var(--fonte-editor)
}

.branco {
  color: white;
  font-family: var(--fonte-editor);
}

.cinza {
  color: #999;
  font-family: var(--fonte-editor);
}

.roxo {
  color: #c5a5c5;
  font-family: var(--fonte-editor);
}

.verde {
  color: greenyellow;
  font-family: var(--fonte-editor);
}

.navegador-conteudo {
  background-color: white;
  border: 1px solid black;
  height: 250px;
  overflow: auto;
}

.navegador-conteudo p {
  margin: 8px; 
}

/* PALAVRAS OU FRASES EM DESTAQUE */
.destaque {
  background-color: rgb(21,32,43);
  border-radius: 8px;
  color: #ff9999;
  font-family: var(--fonte-editor);
  overflow: auto;
  padding: 2px 4px;
}

/* ESTILO DOS EXEMPLOS */
.exemplo {
  border-radius: 8px;
  padding: 16px 8px;
  width: 100%;
}

.exemplo p {
  margin: 8px 0;
}

/* TAGS UTILIZADAS */
.tags-utilizadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px auto 0;
}

.tags-utilizadas div {
  background-color: #eee;
  border-radius: 8px;
  font-weight: 500;
  margin: 8px;
  padding: 16px;
  text-align: center;
  width: 28%;
}