@charset "utf-8";

@media (min-width: 850px) {
  /* HEADER */
  header h1 {
    text-align: center;
  }

  #menu-icone {
    display: none;
  }


  /* INDEX */
  .index-container {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
  }

  .materia {
    max-width: 50%;
  }


  /* MENU LATERAL */
  #menu-lateral {
    width: 340px;
  }


  /* CONTEÚDO: INTRODUÇÃO, EXEMPLOS E EXERCÍCIOS */
  .container-principal {
    margin-left: 340px;
  }

  .codigo-e-navegador {
    flex-direction: row;
  }

  .codigo, .navegador {
    flex: 50%;
    margin: 0 8px;
  }

  
  /* FOOTER */
  .footer-index {
    margin-left: 0;
    width: 100%;
  }

  footer {
    margin-left: 340px;
    width: calc(100% - 340px);
  }
}